body,
html {
  font-family: "Roboto Mono", monospace;
}
.errorDisplay {
  display: flex;
  justify-content: center;
  margin-top: 25vw;
}
.fit-lit-light {
  background-color: rgb(255, 255, 255);
}

.fit-lit-dark {
  background-color: black;
}

.fit-lit-dark .back-color-button {
  fill: white !important;
}

.back-color-button {
  width: 2vw;
  position: absolute;
  left: 92vw;
  margin-top: 2vh;
}

.back-color-button:hover main:hover {
  cursor: pointer;
}

header,
main {
  display: flex;
  justify-content: space-between;
}

header {
  justify-content: center;
  margin-left: 70px;
}

main {
  flex-direction: row;
}

.left-nav {
  width: 75vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right-nav {
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5vw;
}

.vitals-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 2vw;
}

.friends-container,
.steps-container,
.activity-container,
.hydration-container,
.sleep-container,
.todays-vitals,
.user-container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  color: white;
  box-shadow: 1px 0 3px rgb(192, 192, 192), -1px 0 3px rgb(192, 192, 192),
    0 1px 3px rgb(192, 192, 192), 0 -1px 3px rgb(192, 192, 192);
}

.user-container,
.add-form-container {
  margin-top: 10px;
  font-size: 14px;
  word-wrap: normal;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #6190ff;
  padding-bottom: 1em;
  margin-bottom: 20px;
  margin-right: 20px;
}

.user-card {
  color: black;
}

.submit,
.data-submit {
  align-items: center;
  color: black;
  background-color: white;
  margin: 8px;
  width: 100px;
  border-radius: 12px;
}

.date-form {
  display: flex;
  justify-content: center;
}

.date-form input,
.date-input input,
.categories-value,
#hoursSlept,
#sleepQuality,
#numOfOunces,
#minutesActive,
#numOfSteps,
#flightsOfStairs {
  height: 4vh;
  width: 15vw;
  border-radius: 12px;
}

.submit:hover,
.data-submit:hover {
  cursor: pointer;
  box-shadow: 1px 0 3px #cc66ff, -1px 0 3px #cc66ff, 0 1px 3px #cc66ff,
    0 -1px 3px#CC66FF;
}

.data-submit:disabled {
  background-color: #d5d5e3;
  color: #7d7d7d;
  cursor: not-allowed;
  box-shadow: none;
}

.habit-label {
  color: black;
  margin-top: 10px;
  font-size: 1.5vw;
  text-align: center;
}

.friends-container {
  height: 50%;
  align-items: center;
  background-color: black;
  margin-right: 20px;
  padding-bottom: 1em;
}

.friend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: left;
  padding: 4px;
  width: 100%;
}

.friend img {
  width: 25px;
  height: 25px;
}

.sleep-container,
.activity-container {
  width: 33vw;
  align-items: center;
  text-align: center;
  margin-top: 1vh;
  background-color: #6947ff;
  margin-right: 1px;
  padding-top: 10px;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  padding-bottom: 1vw;
}
.sleep-container {
  margin-right: 1vw;
}

.sleep-data,
.activity-data {
  border: 1px solid #2cb7ff;
}
.sleep-for-week {
  margin-top: 15px;
}

.hydra-data {
  border: 1px solid #6947ff;
  width: 25vw;
  text-align: center;
}

.activity-data {
  border: 1px solid white;
}

.bottom-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 20px;
}
.hydration-container,
.steps-container {
  width: 33.5vw;
  margin-top: 1vw;
}

.hydration-container {
  color: black;
  flex-direction: column;
  align-items: center;
  background-color: #2cb7ff;
  margin-bottom: auto;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 1vw;
}

.steps-container {
  color: rgb(0, 0, 0);
  align-items: center;
  text-align: center;
  background-color: #cc66ff;
  padding-top: 10px;
  margin-right: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
}

.todays-vitals {
  color: rgb(0, 0, 0);
  width: auto;
  align-items: center;
  text-align: center;
  background-color: #cc66ff;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 25px;
  padding-right: 1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
}

.step-comparison-message {
  font-size: 10px;
}

.step-card {
  padding-right: 1em;
  padding-left: 1em;
  word-wrap: normal;
  justify-content: center;
}

#waterBottleImg,
#sleepImg,
#sandalsImg,
#weightsImg {
  align-self: center;
  border-radius: 50%;
  background-color: white;
  padding: 4px;
  margin: 2px;
}

label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

input,
label {
  margin: 0.4rem 0;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

.chart-container {
  width: 30vw;
  height: auto;
}

.chart.text {
  font-size: 1vw;
}

p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.address,
.email,
.stride-length,
.step-goal {
  font-size: 1vw;
}

/* adding data */

.add-form-container {
  background-color: #6947ff;
  margin-top: 0.5vw;
  border-radius: 12px;
}

.adding-data-section {
  display: flex;
  flex-direction: column;
  margin-top: .1vh;
  justify-content: center;
  color: aliceblue;
}

.backArrow{
  padding-top: 1vw;
  align-self:flex-start;
}

.backArrow:hover{
  cursor: pointer;
}

.adding-data-form {
  align-self: center;
}

#hoursSlept,
#sleepQuality,
#numOfOunces,
#minutesActive,
#numOfSteps,
#flightsOfStairs {
  text-size-adjust: 12vw;
  width: 6vw;
}

.sleep-data-inputs,
.hydration-data-inputs,
.activity-data-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

#hourSlept {
  margin-left: 20vw;
}

.data-submit {
  height: 5vh;
}

@media screen and (max-width: 920px) {
  .right-nav {
    width: 40vw;
  }

  .left-nav {
    width: 60vw;
  }
  
  .friends-container,
  .user-container {
    width: 33vw;
  }
  .friends-container {
    margin-right: 0;
    width: 36vw;
  }
  .steps-container,
  .activity-container,
  .hydration-container,
  .sleep-container {
    width: 55vw;
  }
}

